

.hero2{
    height: 75vh; 
}



.hero2--left{
    background-color: yellow;
    height: 500px;
}

.hero2--right{
    height: 75%;
    height: 250px;  
    background-color: #f9fbff;
}

// Centers the content in the middle of the block,
// Restricts the content to the 75% width 
.hero2--right--content{
    text-align: center;
    height: 100%;
    width: 75%; 
    margin-left: 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.hero2--hr-line{
    width: 25%; 
    border-bottom: 2px solid black;
}



.hero2--left--4x4{
        height: 100%; 
        background-color: pink; 
        display: flex;
        flex-direction: column;
    }

    .hero2--img-1{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-grow: 1; 
        background-color: #f9fbff; 
    
    }  
    
    .hero2--img-2{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-grow: 1; 
        background-color: green; 
  
    }    

    .hero2--img-3{
         display: flex;
        justify-content: center;
        align-content: center;
        flex-grow: 1; 
        background-color: blue; 
     
    }    

    .hero2--img-4{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-grow: 1;  
        background-color: #f9fbff; 
      
    }    




//==============================
    //  Media queries from 650px and up 
 //==============================

 @media (min-width: 800px){
    .hero2{
        display: flex;
        flex-direction: collumn;
    }

    .hero2--left{
        flex-basis: 50%; 
        height: 100%;
    }

    .hero2--right{
        flex-basis: 50%; 
        height: 100%;
    }

    .order-1{
         order: 1; 
    }


    //==============================
        // internal 4 x 4 img block 
    //==============================

    .hero2--left--4x4{
        flex-wrap: wrap;
        height: 100%; 
    }

    .hero2--img-1{
        flex-basis: 50%;  
        height: 50%; 
    }  
    
    .hero2--img-2{
        flex-basis: 50%;  
        height: 50%; 
    }    

    .hero2--img-3{
        flex-basis: 50%;  
        height: 50%; 
    }    

    .hero2--img-4{
        flex-basis: 50%;  
        height: 50%; 
    }    
 }