.gall-block-6
    .gall-block-6--col--1
        .gall-block-6--img
            img(src="../assets/img/icon-md.svg")
            
        .gall-block-6-info-block    
            .gall-block-6--info
                img(src="../assets/img/user_icon.svg")
            .gall-block-6--info--text    
                h2.gall-block-6--info-text John Doe 
                p.gall-block-6--info--p MANAGER AT APPLE 
           

    .gall-block-6--col--1
        .gall-block-6--img
           img(src="../assets/img/icon-md.svg")
     
        .gall-block-6-info-block    
            .gall-block-6--info
                img(src="../assets/img/user_icon.svg")
            .gall-block-6--info--text    
                h2.gall-block-6--info-text John Doe 
                p.gall-block-6--info--p MANAGER AT APPLE 


    .gall-block-6--col--1
        .gall-block-6--img
            img(src="../assets/img/icon-md.svg")

        .gall-block-6-info-block    
            .gall-block-6--info
                img(src="../assets/img/user_icon.svg")
            .gall-block-6--info--text    
                h2.gall-block-6--info-text John Doe 
                p.gall-block-6--info--p MANAGER AT APPLE 
    

    
    .gall-block-6--col--1
        .gall-block-6--img
            img(src="../assets/img/icon-md.svg")
    

        .gall-block-6-info-block    
            .gall-block-6--info
                img(src="../assets/img/user_icon.svg")
            .gall-block-6--info--text    
                h2.gall-block-6--info-text John Doe 
                p.gall-block-6--info--p MANAGER AT APPLE 
       

