.gall-block-1
    .gall-block-1--col--1
        .gall-block--img.cyan 
            img(src="../assets/img/icon-md.svg")
        .gall-block--img.deep-pink 
            img(src="../assets/img/icon-md.svg")
     

    .gall-block-1--col--1
        .gall-block--img.light-blue
            img(src="../assets/img/icon-md.svg")
        .gall-block--img.dark-orange
            img(src="../assets/img/icon-md.svg")

    .gall-block-1--col--1
        .gall-block--img.gold
            img(src="../assets/img/icon-md.svg") 
        .gall-block--img.army-green
            img(src="../assets/img/icon-md.svg") 
