.gall-block-5
    .gall-block-5--col--1
        .gall-block-5--img
            img(src="../assets/img/icon-md.svg")
   

    .gall-block-5--col--1
        .gall-block-5--img
           img(src="../assets/img/icon-md.svg")
     
        
    .gall-block-5--col--1
        .gall-block-5--img
            img(src="../assets/img/icon-md.svg")
    
    .gall-block-5--col--1
        .gall-block-5--img
            img(src="../assets/img/icon-md.svg")
       

