.gall-block-1
    .gall-block-1--col--1
        .gall-block--img.cyan one
        .gall-block--img.deep-pink two 
     

    .gall-block-1--col--1
        .gall-block--img.light-blue three
        .gall-block--img.dark-orange four

    .gall-block-1--col--1
        .gall-block--img.gold five 
        .gall-block--img.army-green six 
