
.header-3
    nav.large-nav--header--3
        ul.width-100 
            li 
                a(href="#") Home 
                a(href="#") About  
                a(href="#") Portfolio
                a(href="#") Contact

    .logo-3.pl-10
        h1.logo-h3 Hello


    nav.mobile-nav-toggle--3.pr-10
        span 

    nav.large-nav--header--3
        ul 
            li 
                a(href="#") Home 
                a(href="#") About  
                a(href="#") Portfolio
                a(href="#") Contact