
.header-2
    .logo-2.pl-10
        h1.logo-h1 Hello
    nav.mobile-nav-toggle--2.pr-10
        span 
    nav.large-nav
        ul 
            li 
                a(href="#") Home 
                a(href="#") About  
                a(href="#") Portfolio
                a(href="#") Contact