
.hero2
    .hero2--left
        .hero2--left--4x4
            .hero2--img-1
            .hero2--img-2
            .hero2--img-3
            .hero2--img-4
    .hero2--right
        .hero2--right--content
            h1.hero2--txt--h1 WE ARE BELLATR 
            .hero2--hr-line
            p.hero2--dark-txt THE AGENCEY THAT WILL MAKE YOU CHANGE 
            p.hero2--italic-txt "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
    
