
.hero1
    .hero1--left
        .hero1--left--img
            img(src="../assets/img/icon-md.svg")
    .hero1--right
        .hero1--right--content
            h1.hero1--txt--h1 WE ARE BELLATR 
            .hero1--hr-line
            p.dark-txt THE AGENCEY THAT WILL MAKE YOU CHANGE 
            p.italic-txt "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 


.hero1
    .hero1--left.order-1
        .hero1--left--img
            img(src="../assets/img/icon-md.svg")
    .hero1--right
        .hero1--right--content
            h1.hero1--txt--h1 WE ARE BELLATR 
            .hero1--hr--line
            p.hero1--dark--txt THE AGENCEY THAT WILL MAKE YOU CHANGE 
            p.hero1--italic--txt "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
    
