
.hero
    .hero--left
    .hero--right
        .hero--right--content
            h1.hero--txt--h1 WE ARE BELLATR 
            .hr-line
            p.dark-txt THE AGENCEY THAT WILL MAKE YOU CHANGE 
            p.italic-txt "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 


.hero
    .hero--left.order-1
    .hero--right
        .hero--right--content
            h1.hero--txt--h1 WE ARE BELLATR 
            .hr-line
            p.dark-txt THE AGENCEY THAT WILL MAKE YOU CHANGE 
            p.italic-txt "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
    
.hero
    .hero--left
        .hero--left--4x4
            .hero--img-1
            .hero--img-2
            .hero--img-3
            .hero--img-4
    .hero--right
        .hero--right--content
            h1.hero--txt--h1 WE ARE BELLATR 
            .hr-line
            p.dark-txt THE AGENCEY THAT WILL MAKE YOU CHANGE 
            p.italic-txt "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
    

.hero
    .hero--left.order-1
    .hero--right
        .hero--right--content
            h1.hero--txt--h1 WE ARE BELLATR 
            .hr-line
            p.dark-txt THE AGENCEY THAT WILL MAKE YOU CHANGE 
            p.italic-txt "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim   
    

.hero
    .hero--left
    .hero--right
        .hero--right--content
            h1.hero--txt--h1 WE ARE BELLATR 
            .hr-line
            p.dark-txt THE AGENCEY THAT WILL MAKE YOU CHANGE 
            p.italic-txt "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 


