.text-block-3
    .text-block-3--col--1
        .text-block-3--title
            h5 First One 
            p  Some small text goes here, Some small text goes here, Some small text goes here Some small text

    .text-block-3--col--1
        .text-block-3--title
            h5 First One 
            p  Some small text goes here, Some small text goes here, Some small text goes here Some small text

    .text-block-3--col--1
        .text-block-3--title
            h5 First One 
            p  Some small text goes here, Some small text goes here, Some small text goes here Some small text

