.text-block-2
    .text-block-2--col--1
       .text-block-2--title 
            h1 The title is <br> Something here 
            p text goes here Some small text goes here, Some small text goes here, Some 
    .text-block-2--col--2
        .text-block-2--sub--title
            h5 First One 
            p  Some small text goes here, Some small text goes here, Some small text goes here Some small text

        .text-block-2--sub--title
            h5 First One 
            p  Some small text goes here, Some small text goes here, Some small text goes here Some small te    