---
layout: default
title: Pattern Library 
---
    <div class="home-wrap">
        <section>
             {% include header.html %}
        </section>

        <section>
            <h1>Hero-1</h1>
             {% include hero-1.html %}
        </section>
            
        <section>    
            <h1>Hero-2</h1>
             {% include hero-2.html %}
        </section>

         <section>    
            <h1>Center  text </h1>
             {% include center-txt.html %}
        </section>

        <section>    
            <h1>Gallery block - 1  </h1>
             {% include gallery-block-1.html %}
        </section>

        <section>    
            <h1>Gallery block - 2  </h1>
             {% include gallery-block-2.html %}
        </section>

        <section>    
            <h1>Gallery block - 3  </h1>
             {% include gallery-block-3.html %}
        </section>

        <section>    
            <h1>Gallery block - 4 </h1>
             {% include gallery-block-4.html %}
        </section>

        <section>    
            <h1>Gallery block - 5 </h1>
             {% include gallery-block-5.html %}
        </section>

        <section>    
            <h1>Gallery block - 6 </h1>
             {% include gallery-block-6.html %}
        </section>



    </div>
   