.gall-block-2
    .gall-block-2--col--1
        .gall-block-2--img.cyan 
            img(src="../assets/img/icon-md.svg")
        .gall-block-2-info
            h1 First One 
            p Some text information goes here, what does this all mean 


    .gall-block-2--col--1
        .gall-block-2--img.light-blue
            img(src="../assets/img/icon-md.svg")
        .gall-block-2-info
            h1 First One 
            p Some text information goes here, what does this all mean 

        
    .gall-block-2--col--1
        .gall-block-2--img.gold
            img(src="../assets/img/icon-md.svg")
        .gall-block-2-info
            h1 First One 
            p Some text information goes here, what does this all mean 

