.gall-block-8{
    margin-bottom: 75px;
}

.gall-block-8--col--1{
    border-radius: 3px;
    margin-bottom: 35px; 
}

.gall-block-8--img{
    height: 250px;
    display: flex;
    justify-content: center;
    background-color: grey; 
}

// Styles for 800px and up 
@media (min-width: 800px){
    .gall-block-8{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }
    .gall-block-8--col--1{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        width: 80%;
        
    }

    .gall-block-8--img{
        background-color: #E8E8E8;
        height:  300px;
        display: flex;
        justify-content: center; 
    }
}