.gall-block-6{
    margin-bottom: 75px;
}


.gall-block-6--col--1{
    border-radius: 3px;
    margin-bottom: 35px; 
}

.gall-block-6--img{
    height: 250px;
    display: flex;
    justify-content: center;
    background-color: grey; 
}



.gall-block-6-info-block  {
    display: flex;
    margin-top: 30px;
}



.gall-block-6--info--text{
    margin-left: 25px;
}


.gall-block-6--info--p{
    color: grey;
    margin-top: -15px;
}






// Styles for 800px and up 
@media (min-width: 800px){
    .gall-block-6{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .gall-block-6--col--1{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        width: 45%;
    }

    .gall-block-6--img{
        background-color: #E8E8E8;
        height:  200px;
        display: flex;
        justify-content: center; 
    }

   

}