.center-txt
    .center-txt--title
        h1 Gallery
        p.center-txt--p  At half-past eight the door opened, the policeman appeared, and, requesting them to follow him, led the way to an adjoining hall. 


