

.hero1{
    height: 75vh; 
}



.hero1--left{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: yellow;
    height: 500px;
}


.hero1--right{
    height: 75%;
    height: 250px;  
    background-color: #f9fbff;
}

// Centers the content in the middle of the block,
// Restricts the content to the 75% width 
.hero1--right--content{
    text-align: center;
    height: 100%;
    width: 75%; 
    margin-left: 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.hero1--hr--line{
    width: 25%; 
    border-bottom: 2px solid black;
}


//==============================
    //  Media queries from 650px and up 
 //==============================

 @media (min-width: 800px){
    .hero1{
        display: flex;
        flex-direction: collumn;
    }

    .hero1--left{
        flex-basis: 50%; 
        height: 100%;
    }

    .hero1--right{
        flex-basis: 50%; 
        height: 100%;
    }

    .order-1{
         order: 1; 
    }


    //==============================
        // internal 4 x 4 img block 
    //==============================

    .hero1--left--4x4{
        display: flex; 
        background-color: pink; 
        flex-wrap: wrap;
        height: 100%; 
    }

    .hero1--img-1{
        display: flex;
        background-color: white; 
        flex-basis: 50%;  
        height: 50%; 
    }  
    
    .hero1--img-2{
        display: flex;
        background-color: green; 
        flex-basis: 50%;  
        height: 50%; 
    }    

    .hero1--img-3{
        display: flex;
        background-color: blue; 
        flex-basis: 50%;  
        height: 50%; 
    }    

    .hero1--img-4{
        display: flex;
        background-color: red; 
        flex-basis: 50%;  
        height: 50%; 
    }    
 }